*{
    margin: 0 auto;
    text-align: center;
}
/* div da (logo) do site */
.secao-logo{
    background-color: rgb(11, 22, 54);
   
}
/* div do (topo) do site */
.secao-topo{
    height: 40px;
    background-color: rgb(11, 22, 54);

}
/* topo do (links) do site */
.secao-topo a{
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: rgb(11, 22, 54);
}

.secao-play5{
    padding-top: 20px;
    background-color: rgb(200, 200, 200);

}

/* imagem da (logo) do site */
.secao-logo img{
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    text-align: center;
    height: 400px;
    width: 500px;   
}
/* div da etapa 2 do site */
.secao-parte2{
    background-color: rgb(200, 200, 200);
    height: 865px;
    text-align: center;
  
}
/* imagem dos controles do ps5 */
.secao-parte2 img{
    height: 850px;
    width: 1000px;
    text-align: center;
}
/* titulos estilizados */
.secao-DualSense{
    background-color: rgb(0, 0, 0);
    text-align: center
}   
.secao-DualSense h1{
    height: 60px;
    padding-top: 80px;
    font-family: 'Franklin Gothic Medium'; 
    font-size: 30px;
    color: rgb(254, 254, 255);
    background-color: rgb(0, 0, 0);
}

.secao-DualSense h2{
   height: 60px;
   font-size: 25px;
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   padding-bottom: 10px;
   padding-bottom: 15px;
}
.secao-Sense{
    background-color: rgb(0, 0, 0);
}
.secao-Sense p{
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 20px;
    margin-top: -40px;
    padding-bottom: 60px ;
    font-size: 20px;
    color: rgb(255, 255, 255);     
    background-color: rgb(0, 0, 0);
}
 
.secao-Sense img{
  height: 600px;
  width: 900px;
  margin-right: 500px;
  margin-left: 500px ;
  margin-bottom: 60px ;
}

.secao-descricao{
    margin-top: -20px;
    padding: 20px;
    background-color: slateblue;
}
.secao-descricao h3{
    padding-top: 50px;
    height: 90px;
    font-size: 50px;
    color: rgb(252, 253, 255);
    background-color: slateblue;
}
.secao-descricao ul{
    font-size: 28px;
    color: rgb(11, 22, 54);
    background-color: slateblue;
    height:  400px;
    margin-top: 70px;
    margin-right: 152px;
    margin-left: 825px;
}

.secao-descricao li{
    color: white;
    margin-bottom: 5px;
    text-align: justify;
}

.secao-descricao p{
    padding-bottom: 90px;
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 15px;
}

.secao-etapa5{
    background-color: rgb(0, 0, 0);
    padding-bottom: 40px;

}

.secao-etapa5 h3{
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 30px; 
  color: slateblue;
}
 
.secao-etapa5 p{
   font-weight: bold;
   font-size: 18px;
   margin-left: 500px;
   margin-right: 500px;
   margin-bottom: 40px;
   color: slateblue;
}

.secao-mapa{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(77, 20, 108);
}

.secao-mapa h3{
   padding-top: 90px;
   padding-bottom: 70px;
   font-size: 38px; 
   color: rgb(255, 255, 255);    
}

.secao-mapa p{
    font-size: 19px;
    padding-top: 40px;
    color: aliceblue;
}

.secao-rodape{
    padding-top: 20px;
}

.secao-rodape a{
    border: 10px; background-color:rgb(147, 101, 190);
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    font-size: 19px;
}

.secao-rodape div{
    padding: 10px;
}

.secao-parte6 p{
    border: 10px; background-color:rgb(66, 212, 88);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px; 
}

.secao-parte6{
    padding-top: 20px;
    background-color: rgb(77, 20, 108);
}

.secao-parte6 a{
    color: rgb(237, 0, 0);
}